body {
    background-color: #FFFFFF;
    overflow-x: auto;
    
}


.main__container {

    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    /* position: fixed; */
    max-width: 70rem;
    background: #FFFFFF;

}

.div__select {
    display: flex;
    justify-content: flex-end;
}

#select__company {
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    border: 2px solid transparent;
    width: 280px;
    height: 2.8rem;
    color: var(--color-mode);

    font-family: 'Poppins', sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    outline: 0;
    -webkit-appearance: none;
    background: var(--color-brand-1) url('../assets/Polygon\ 1.svg') 95.5% 50% no-repeat;
    cursor: pointer;
}

button {
    box-sizing: border-box;
    width: 142px;
    height: 48px;

    background: var(--color-mode);
    border: 1.5px solid var(--color-brand-1);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: var(--color-brand-1);
    cursor: pointer;

}

button:hover {
    background-color: var(--color-brand-1);
    color: var(--color-mode);
}

.div__create-dep {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.title__dep {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.list__departments {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 280px;
    justify-content: center;
    margin-top: 20px;
    overflow-y: auto;


    background: #F8F8F8;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.card__container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    width: 450px;
    height: 150px;
    margin: 20px;

    background: #FFFFFF;
    border: 1px solid #0000FF;
}

.card__dep-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.card__dep-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

}

.div__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.div__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    gap: 15px;
    width: 20%;
}

.view__button {
    height: 25px;
    cursor: pointer;
}

.edit__button-dep {
    height: 25px;
    cursor: pointer;
}

.delete__button-dep {
    height: 25px;
    cursor: pointer;
}

.list__employees {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 280px;
    justify-content: center;
    margin-top: 20px;
    overflow-y: auto;
    margin-bottom: 50px;


    background: #F8F8F8;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.title__users {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    margin-top: 50px;

    color: #000000;
}

.edit__buttonEmp {
    cursor: pointer;
}

.modal__remove-buttonEmp {
    cursor: pointer;
}
